<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Placar</title>
  </head>
  <body>
    <main class="principal">
      <section class="scoreGames">
        <div class="domino">
          <a href="/placar-domino">Dominó</a>
        </div>
        <div class="uno">
          <a href="/placar-uno">Uno</a>
        </div>
        <div class="canastra">
          <a href="/placar-canastra">Canastra</a>
        </div>
      </section>
    </main>
  </body>
</html>
