<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/placar-canastra/styles/style.css" />

    <title>Placar Canastra</title>
  </head>
  <body>
    <main class="principal">
      <a href="/" class="fa fa-home" aria-hidden="true"> Home</a>
      <section class="create">
        <aside class="createTeam">
          <div class="teamOne">
            <h1>Time A</h1>
            <p>Digite os nomes dos jogadores</p>
            <label for="">Jogador: <input type="text" name="" id="" /></label>
            <label for="">Jogador: <input type="text" name="" id="" /></label>
          </div>

          <div class="teamTwo">
            <h1>Time B</h1>
            <p>Digite os nomes dos jogadores</p>
            <label for="">Jogador: <input type="text" name="" id="" /></label>
            <label for="">Jogador: <input type="text" name="" id="" /></label>
          </div>
        </aside>
        <div>
          <button class="btnCreateTeam">Criar times</button>
        </div>
      </section>
      <section class="placar-canastra">
        <h1 class="titulo">Canastra</h1>
        <div class="times">
          <div class="time">
            <h1>Time A</h1>

            <div class="placar">
              <div class="calc">
                <label for="">Saiu: <input type="number" class="saiu" /></label>
                <label for=""
                  >Contagem: <input type="number" class="contagem"
                /></label>
              </div>

              <button class="btnCalc">Calcular</button>

              <div class="resultado">5.000</div>
            </div>
          </div>

          <div class="time">
            <h1>Time B</h1>
            <div class="placar">
              <div class="calc">
                <label for="">Saiu: <input type="number" class="saiu" /></label>
                <label for=""
                  >Contagem: <input type="number" class="contagem"
                /></label>
              </div>
              <button class="btnCalc">Calcular</button>
              <div class="resultado">5.000</div>
            </div>
          </div>
        </div>
      </section>
      <section class="timeB"></section>
    </main>
  </body>
</html>
