* {
  margin: 0;
  padding: 0;
  border-radius: 7px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
}

label {
  display: block;
}

.principal {
  width: 100vw;
  height: 100vh;
}

.create {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.btnCreateTeam {
  position: absolute;
  margin-top: -50px;
  height: 2rem;
  align-self: center;
}

.createTeam {
  display: flex;
  justify-content: space-around;
  background: #569855;
  height: 20em;
  width: 40em;
}

.placar-canastra {
  display: none;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
  align-self: center;
}

.titulo {
  height: 8%;
}

.times {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
  align-self: center;
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 48%;
  height: 100%;
  border: 1px solid #000;
}

.placar {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 80%;
  background: #fff;
}

.calc {
  display: flex;
  position: relative;
  flex-direction: column;
  float: right;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

label .saiu {
  margin-left: 41px;
}

.btnCalc {
  margin-top: 0.5em;
  margin-left: 0.5em;
  height: 3.8em;
  width: 5em;
  float: right;
}

.resultado {
  display: flex;
  width: 90%;
  height: 60%;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  margin-left: auto;
  margin-right: auto;
}

input {
  padding: 1px 2px;
  margin-bottom: 0.5em;
}
